/****************
*     RESET     *
*****************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*****************/
/* Begin Custom */
/*****************/
:root {
  --font-sans-serif: "Poppins", sans-serif;
  --font-serif: "Times New Roman", Times, serif;
}

nav {
  padding: 2rem;
  margin-bottom: 1rem;
}

body {
  padding-bottom: 10%;
}

h2 {
  /* white-space: pre-wrap; */
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
}

h3 {
  /* white-space: pre-wrap; */
  /* font-family: var(--font-sans-serif); */
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
}

.text-sans-serif {
  font-family: var(--font-sans-serif);
}

.text-serif {
  font-family: var(--font-serif);
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  /* font-size: calc((1.6 - 1) * 1.2vw + 1rem); */
  font-size: calc((1.5 - 1) * 1.2vw + 1rem);
  font-weight: 300;
  line-height: 1.8;
}

h4 {
  font-size: calc((1 - 1) * 1.2vw + 1rem);
  font-weight: 400;
}

ul {
  font-weight: 300;
  line-height: 2.25;
}

.icon {
  font-size: 3.5rem;
  cursor: pointer;
  color: black;
  transition: 0.25s ease;
}

.icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.25s ease;
}

#work-experience h3,
#work-experience h4,
#work-experience ul {
  margin-top: 1rem;
}

.flex {
  display: flex;
}

.two-columns {
  display: flex;
}

.column {
  width: 50%;
  margin-inline: 2rem;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.bio-text {
  font-size: 2.25rem;
}

.two-columns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Youtube */
/* Set the max-width of the parent element */
.video-wrap {
  margin-top: 3rem;
  width: 75%;
  max-width: 600px;
}

/* Set your aspect ratio */
.video-container {
  margin-top: 1.5rem;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/* Mobile */
@media screen and (max-width: 768px) {
  h1 {
    font-size: calc((1.5 - 1) * 1.2vw + 2rem);
  }

  .two-columns {
    flex-direction: column;
    gap: 2rem;
  }

  .column {
    width: 100%;
    max-width: fit-content;
  }
}
